node_modules/
*.log
.DS_Store
*.pyc
__pycache__/
/backend/venv/
/backend/.env
/frontend/build/
/frontend/.env
/var/lib/cyberbox/
*.sqlite
*.db
server/backend/.env
server/backend/dump.rdb
/backend/data/
BOITIER-TOUT-EN-UN-10.md
BUSINESS-MODEL.md
DIY-KIOSK-COMPACT.md
FICHIER_A_INCLURE.md
HARDWARE-RECOMMANDATIONS.md
INSTALLATION_MICRO_PC.md
MISE_A_JOUR_SATIONS.md
OwlcubLogo.png
assets/